#formLogin {
    $nameForm: login;
    @include Form($nameForm);
    @include FormGroup($nameForm);
    @include FormTitle($nameForm, 30px);
    @include FormLabel($nameForm);
    @include FormInput($nameForm);

    margin-top: 50px;
    .form-#{$nameForm}__group {
        .form-#{$nameForm}__input {
            &.btn {
                background-color: #238636;
                color: #fff;
                font-weight: 600;
                cursor: pointer;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}
