.CountNumber{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.CountNumber__show {
  font-size: 50px;
}
.CountNumber__controls {
  display: flex;
  align-items: center;
}
.CountNumber__control-btn {
  font-size: 30px;
  width: 100px;
}