@mixin nobita-list($position: "initial", $type: "column") {
    // position: absolute;
    position: $position;
    display: flex;
    flex-direction: $type;
    list-style: none;
}

@mixin nobita-list-item() {
}
