// Functions

// Mixin
@mixin List($type: row) {
    display: flex;
    flex-direction: $type;
    justify-content: center;
    align-items: center;
    list-style: none;
}

@mixin Item($color: #fff, $fontSize: 16px, $fontWeight: 400, $textAlign: center) {
    color: $color;
    font-size: $fontSize;
    font-weight: $fontWeight;
    text-align: $textAlign;
}

@mixin SpaceDot($color: #fff, $w: 2px, $h: 25px) {
    background-color: $color;
    width: $w;
    height: $h;
}

// @mixin PosAbsolute($top: 0, $left: 0, $right: 0, $bottom: 0) {
@mixin Position($type, $pos) {
    position: $type;
    @if ($pos) {
        @each $name, $val in $pos {
            #{$name}: $val;
        }
    }
}
