// Functions

// Mixin
@mixin List($type: row, $justify-content: center, $align-items: center) {
    display: flex;
    flex-direction: $type;
    justify-content: $justify-content;
    align-items: $align-items;
    list-style: none;
}

@mixin Item($color: #fff, $textAlign: center, $fontSize: 16px, $fontWeight: 400) {
    color: $color;
    font-size: $fontSize;
    font-weight: $fontWeight;
    text-align: $textAlign;
}

@mixin SpaceDot($color: #fff, $w: 2px, $h: 25px) {
    background-color: $color;
    width: $w;
    height: $h;
}
@mixin Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 10px 20px;
    border: 1px solid rgb(233, 224, 224);
    border-radius: 3px;
}
@mixin FormTitle($font-size: 20px, $font-weight: 600) {
    font-size: $font-size;
    font-weight: $font-weight;
    margin: 20px 0;
}
@mixin FormGroup($width: 300px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}
@mixin FormLabel {
    font-weight: 600;
    margin: 5px 0;
}
@mixin FormInput($font-size: 14px) {
    font-size: $font-size;
    padding: 10px 10px;
    border: 1px solid rgb(226, 221, 221);
    border-radius: 3px;
}

// @mixin PosAbsolute($top: 0, $left: 0, $right: 0, $bottom: 0) {
@mixin Position($type, $pos: 100% 0 auto auto) {
    position: $type;
    @if ($type == absolute) {
        top: nth($pos, 1);
        left: nth($pos, 2);
        right: nth($pos, 3);
        bottom: nth($pos, 4);
    }
}
