.header__nav {
    @include List();
    margin: 0 auto;
    cursor: pointer;
    &.auth {
        .nav-item {
            text-transform: none;
        }
    }
    .nav-item {
        @include Item();
        text-transform: uppercase;
        width: 100px;
        padding: 15px 10px;
        &.has-list {
            position: relative;
            .nav-item__list {
                @include List(column);
                @include Position(
                    absolute,
                    (
                        "top": 100%,
                        "left": 0,
                    )
                );
                .nav-item__child {
                    @include Item(#000);
                }
            }
        }
        &:hover {
            background-color: rgb(112, 112, 112);
        }
        a {
            color: #fff;
            text-decoration: none;
        }
    }
}
